*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #c9e6f5;
}
section{
    background: rgb(231, 228, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

  p {
    text-align: justify;
  }
.contenedor{
    align-items: center;
    margin: 4px;

}
.card{
    height: 250px;
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 8px 30px;
    border-radius: 2%;
    border: 1px solid #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: linear-gradient(-135deg, #D6CFED,#430575);

}
.card:hover{
    height: 500px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.card-encabezado img{
    position: relative;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}
.card-encabezado{
    position: relative;
}
.card-encabezado:before, .card-encabezado:after{
    content: '';
    position: absolute;
    opacity: .7;
}
.card-encabezado:after{
    border-radius: 50%;
    z-index: 20;
    background-color: yellow;
    width: 50px;
    height: 50px;
    top: 0;
    right: 25px;
}
.card-encabezado:before{
    width: 70px;
    height: 70px;
    bottom: 0;
    left: -10px;
    border-radius: 20px;
    background-color: rgb(238, 42, 98);
    transform: rotate(120deg);
}
.card-iconos{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
}
.card-iconos li{
    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s ease;
}
.desplazar{
    opacity: 0;
    transition: all .5s ease;
    transform: translateY(-45px);

}
.agrandar{
    transform: scale(0);
    opacity: 0;
    transition: all .4s ease;
}
.card:hover .agrandar{
    opacity: 1;
    transform: scale(1);
}
.card:hover .desplazar{
    transform:translateY(0px);
    opacity: 1;
}
.card-iconos li a{
    color: #7813d6;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
}
.card-iconos li a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #7813d6;
}
.card-iconos li:nth-child(1){
    transition-delay: .2s;
}
.card-iconos li:nth-child(2){
    transition-delay: .3s;
}
.card-iconos li:nth-child(3){
    transition-delay: .4s;
}
.desplazar:nth-child(1){
    transition-delay: .1s;
}
.desplazar:nth-child(2){
    transition-delay: .2s;
}
.desplazar:nth-child(3){
    transition-delay: .4s;
}

.info-personal:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    line-height: 25px;
}
.info-personal:nth-child(3){
    margin: 15px 0;
}
.info-personal{
    color: #fff;
}
.info-personal p{
    font-size: 9px;
    color: #c492f2;
    text-align: center;
}
.menu{
    background: rgb(214, 207, 237);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #695f64;
    box-shadow: 2px 0 5px rgba(4, 83, 109, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    color: #000000;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #241e38;
}
.menu_items li:hover, li.active{
    background-color: rgba(168, 156, 205, 0.25);
    transition: .25s;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #210e2a;
    cursor: pointer;
    display: none;
}
ul.show{
    top:65px;
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
  #perfil .contenedor {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

#perfil h1{
    align-self: flex-start;
}

.perfil_div{
    height: auto;
    width: 60%;

}


@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
    .contenedor{
        gap: 5px;
    }
}
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #210e2a;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;

    }
    .menu_items li:hover{
        background: none;

    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;

    }
    .menu_items li a:hover{
        color:rgb(193, 157, 243);
    } 
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    .contenedor{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65%);
    }
}
