*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #c9e6f5;
}
section{
    background: rgb(231, 228, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}
section div {
    margin: 10px;
  }


.menu{
    background: rgb(214, 207, 237);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #695f64;
    box-shadow: 2px 0 5px rgba(4, 83, 109, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    color: #000000;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #241e38;
}
.menu_items li:hover, li.active{
    background-color: rgba(168, 156, 205, 0.25);
    transition: .25s;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #210e2a;
    cursor: pointer;
    display: none;
}
ul.show{
    top:65px;
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #perfil div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }





@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #210e2a;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;

    }
    .menu_items li:hover{
        background: none;

    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;

    }
    .menu_items li a:hover{
        color:rgb(193, 157, 243);
    } 
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65%);
    }
}